
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:repeat(2,100px);
	grid-template-rows:repeat(2,100px);
}
.item{
	width:200px;
	height:200px;
}
.item-1{
	background:blue;
}
.item-2{
	background:green;
}
.item-3{
	background:black;
}
.item-4{
	background:red;
}